.weather{
    padding: 40px;
    place-self: center;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, rgba(0, 123, 255, 0.593)); 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;

}

.search-bar img{
    width: 50px;
    cursor: pointer;
     background: #ebfffc;
     border-radius: 50%;
     padding: 15px;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    line-height: 1;
    font-size: 80px;
  
    color: #fff;

}

.location{
    color: #fff;
    font-size: 30px;
}

.weather-data{
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    color: #fff;
    display: flex;
}
.weather-data .col{
    display: flex;
    align-items:flex-start ;
    gap: 10px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
} 

